/* = header overrides
**********************************************************************/
header{
}

/* = navigation
**********************************************************************/
nav{
	/*background-color: red;*/
	height: 35px;
	width: 100%;
	padding-left: 2.5%;
}
.n{
	display: inline;
	width: 100%;
	list-style-type: none;
}
.n-l{
	display: block;
	text-decoration: none;
	width: 19%;
	height: 100%;
	float: left;
	text-align: center;
	padding-top: 10px;
	/*text-transform: uppercase;*/
	font-weight: bold;
	letter-spacing: 1px;
	font-family: 'Slabo 27px',serif;
	font-size: 25px;
	/*font-family: sans-serif;*/
	color: black;
}
.n-l:hover{
	border-bottom: 5px solid #DB504A;
}

.n-sel{
	border-bottom: 5px solid #DB504A;
}
.n-block{

}

/* = modal
**********************************************************************/
.mod-bg{
	display: none;
	height: 100%;
	width: 100%;
	padding-top: 50px;
}

.form, .mod-bg{
	z-index: 5;
}


/* = form overrides
**********************************************************************/

.form{
	overflow: auto;
}

.buttons{
	margin-top: 50px;
	margin-bottom: 20px;
}

.align input, .align select{
	width: 500px;
	height: 25px;
	padding: 7px;
}


.align{
	margin-top: 35px;
}


.label{
}

/* = table overrides
**********************************************************************/
.v{
	margin-top: 80px;
}

.v h2{
	font-size: 30px;
}


.tbl-new-b-c{
	float: right;
}

.new-b-s{
	height: 30px;
	font-size: 17px;
}

.new-b-s::before{
	content: "+  "
}

/* = per ID forms
**********************************************************************/

#stud_gender{
	height: 40px;
	width: 515px;
}